---
title: One Morgan Place
volume: 2
issue: 30
date: APRIL 29, 2013
articles:
  - comcil
  - reunion
  - 1
---
:markdown
  ![Comcil is back in action this term! Their next meeting is this
  Tuesday, April 30, to discuss some very important issues brought up last
  week at Community
  Meeting.](https://origin.ih.constantcontact.com/fs119/1101808979937/img/585.jpg)

  Comcil is back in action this term! Their next meeting is this Tuesday,
  April 30, to discuss some very important issues brought up last week at
  Community Meeting.
