%h2{:style => "border: 2px solid #912; background-color: #ddd; padding: 10px; font-family: Arial, Helvetica, sans-serif; color: #333"}
  %a{:name => "s1"}
  = succeed "&nbsp;Community" do
    %span{:style => "font-family: 'Times New Roman'; serif; line-height: 14px; font-size: 30px; color: #991122; font-weight: bold"} ::
  Council Agenda for Tuesday, April 30
%p{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333; padding-left: 10px; padding-right: 10px;"} Community Council will meet on April 30 beginning at 1:00 p.m. and adjourning at 3:00 p.m.
%p{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333; padding-left: 10px; padding-right: 10px;"}
  %b Process
%ul
  %li{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333;"} Approve Minutes
  %li{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333;"} Call for volunteers to fill secretary position
  %li{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333;"} Call for topics
%p{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333; padding-left: 10px; padding-right: 10px;"}
  %b Policy
%ul
  %li{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333;"} Approve alcohol policy
  %li{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333;"} Discuss RDPP
  %li{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333;"} Discuss Smoking Policy and assign further study
  %li{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333;"} Discuss potential new ComCil seats
  %li{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333;"} Second Student Space Position
%p{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333; padding-left: 10px; padding-right: 10px;"}
  %b Community
%ul
  %li{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333;"} Results of faculty discussion on Community Meeting structure
  %li{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333;"} Community Meeting and Chat ’n Chew
  %li{:style => "font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #333;"} Add future agenda items
